.movieList {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: flex-start;
}

.movieItem {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 10px;
}

.movieItem img {
  width: auto;
  height: 300px;
  object-fit: cover;
}
